
SerialReader/build/*

SerialReader/spec/*

SerialReader/venv/*

SerialReader/test.bat


SerialReader/.idea/*

SerialReader/__pycache__/*

SerialReader/fresh_air_data.xls


SerialReader/file_version_info.txt
*.pyc
*.xls
